{% extends 'base.html' %}

{% block title %}{{ ctx_title }}{% endblock %}

{% block content %}
    <h1>Текст на главной</h1>
    
    {% include 'additional.html' %}

    {% for user in users %}
    <div class="alert alert-error mt-2">
        <h3>Username : {{user.username}}</h3>
        <h3>Email : {{user.email}}</h3>
        <h3>Name : {{user.first_name}}</h3>
        <h3>Surname : {{user.last_name}}</h3>
        <h3>ID : {{user.id}}</h3>
        <hr style="color: rgb(107, 85, 25);">
    </div>
    {% endfor %}
{% endblock %}